---
layout: default
title: Location APIs
---

<!--Definitions-->
{% assign service_name = "" %}
{% assign service_description = "" %}

<!--Documentation-->
{% assign documentation_overview_title = "" %}
{% assign documentation_overview_header = ""  %}
{% assign documentation_overview_footer = ""  %}

{% for stop in site.stops %}

  <!--Begin Definition-->
  {% if stop.name == 'Definition' %}

    {% for item in stop.items %}

      {% if item.name == 'Service Name' %}
        {% assign service_name = item.fields | map: 'service_name' %}
      {% endif %}

      {% if item.name == 'Service Description' %}
        {% assign service_description = item.fields | map: 'service_description' %}
      {% endif %}

    {% endfor %}

  {% endif %}
  <!--End Definition-->

  <!--Begin Documentation-->
  {% if stop.name == 'Documentation' %}
    {% for item in stop.items %}

      {% if item.name == 'Overview' %}

        {% assign documentation_overview_title = item.fields | map: 'title' %}
        {% assign documentation_overview_header = item.fields | map: 'header' %}
        {% assign documentation_overview_footer = item.fields | map: 'footer' %}

      {% endif %}

      {% if item.name == 'Schema' %}

        {% assign documentation_schema_title = item.fields | map: 'title' %}
        {% assign documentation_schema_header = item.fields | map: 'header' %}
        {% assign documentation_schema_footer = item.fields | map: 'footer' %}

      {% endif %}

      {% if item.name == 'Definitions' %}

        {% assign documentation_definition_title = item.name %}
        {% assign documentation_definition_header = item.header %}
        {% assign documentation_definition_footer = item.footer %}
        {% assign documentation_definition_openapi = item.fields | map: 'openapi' %}
        {% assign documentation_definition_postman = item.fields | map: 'postman' %}

      {% endif %}

    {% endfor %}

  {% endif %}
  <!--End Documentation-->

  <!--Begin Authentication-->
  {% if stop.name == 'Authentication' %}
    {% for item in stop.items %}

      {% if item.name == 'Overview' %}

        {% assign authentication_overview_title = item.fields | map: 'title' %}
        {% assign authentication_overview_header = item.fields | map: 'header' %}
        {% assign authentication_overview_footer = item.fields | map: 'footer' %}

      {% endif %}

      {% if item.name == 'Signup / Login' %}

        {% assign authentication_signuplogin_title = item.fields | map: 'title' %}
        {% assign authentication_signuplogin_header = item.fields | map: 'header' %}
        {% assign authentication_signuplogin_footer = item.fields | map: 'footer' %}

      {% endif %}

    {% endfor %}

  {% endif %}
  <!--End Documentation-->

  <!--Begin Authentication-->
  {% if stop.name == 'Support' %}

      {% assign support_title = stop.name %}
      {% assign support_header = stop.header %}
      {% assign support_footer = stop.footer %}
      {% assign support_channels = stop.items %}

  {% endif %}
  <!--End Documentation-->

  <!--Begin FAQs-->
  {% if stop.name == 'FAQs' %}

      {% assign faq_title = stop.name %}
      {% assign faq_header = stop.header %}
      {% assign faq_footer = stop.footer %}

      {% for item in stop.items %}

        {% if item.name == 'Categories' %}
          {% assign faq_categories = item.fields | map: 'categories' %}
        {% endif %}

        {% if item.name == 'Questions' %}
          {% assign faq_questions = item.fields | map: 'questions' %}
        {% endif %}

      {% endfor %}

  {% endif %}
  <!--End FAQs-->

  <!--Begin Communication-->
  {% if stop.name == 'Communication' %}

      {% assign communication_title = stop.name %}
      {% assign communication_header = stop.header %}
      {% assign communication_footer = stop.footer %}
      {% assign communication_channels = stop.items %}

  {% endif %}
  <!--End Communication-->

  <!--Begin Authentication-->
  {% if stop.name == 'Getting Started' %}

      {% assign getting_started_title = stop.name %}
      {% assign getting_started_header = stop.header %}
      {% assign getting_started_footer = stop.footer %}
      {% assign getting_started_entries = stop.items %}

  {% endif %}
  <!--End Documentation-->

  <!--Begin Road Map-->
  {% if stop.name == 'Road Map' %}

      {% assign road_map_title = stop.name %}
      {% assign road_map_header = stop.header %}
      {% assign road_map_footer = stop.footer %}
      {% assign road_map_image = stop.image %}
      {% assign road_map_status = stop.status %}

      {% for item in stop.items %}

        {% if item.name == 'Private' %}

          {% assign private_road_map_title = item.title %}
          {% assign private_road_map_description = item.description' %}
          {% assign private_road_map_url = item.fields | map: 'url' %}

        {% endif %}

        {% if item.name == 'Public' %}

          {% assign public_road_map_title = item.title %}
          {% assign public_road_map_description = item.description %}
          {% assign public_road_map_url = item.fields | map: 'url' %}
          {% assign public_road_map_entries = item.fields | map: 'entries' %}

        {% endif %}

        {% if item.name == 'Suggest' %}

          {% assign road_map_suggestion_status = item.status %}
          {% assign road_map_suggestion_title = item.fields | map: 'title' %}
          {% assign road_map_suggestion_description = item.fields | map: 'description' %}
          {% assign road_map_suggestion_url = item.fields | map: 'url' %}

        {% endif %}

      {% endfor %}

  {% endif %}
  <!--End Road Map-->

  <!--Begin Issues-->
  {% if stop.name == 'Issues' %}

      {% assign issues_title = stop.name %}
      {% assign issues_header = stop.header %}
      {% assign issues_footer = stop.footer %}
      {% assign issues_image = stop.image %}
      {% assign issues_status = stop.status %}

      {% for item in stop.items %}

        {% if item.name == 'Entries' %}

          {% assign issues_url = item.fields | map: 'url' %}
          {% assign issues_entries = item.fields | map: 'entries' %}

        {% endif %}

        {% if item.name == 'Report' %}

          {% assign issues_report_status = item.status %}
          {% assign issues_report_title = item.fields | map: 'title' %}
          {% assign issues_report_description = item.fields | map: 'description' %}
          {% assign issues_report_url = item.fields | map: 'url' %}

        {% endif %}

      {% endfor %}

  {% endif %}
  <!--End Issues-->

  <!--Begin Change Log-->
  {% if stop.name == 'Change Log' %}

      {% assign change_log_title = stop.name %}
      {% assign change_log_header = stop.header %}
      {% assign change_log_footer = stop.footer %}
      {% assign change_log_image = stop.image %}
      {% assign change_log_status = stop.status %}

      {% for item in stop.items %}

        {% if item.name == 'Entries' %}

          {% assign change_log_url = item.fields | map: 'url' %}
          {% assign change_log_entries = item.fields | map: 'entries' %}

        {% endif %}

      {% endfor %}

  {% endif %}
  <!--End Road Map-->

{% endfor %}

<!-- overview -->
<section id="overview">
	<div class="content">
		<header>
			<h3>{{ service_name }}</h3>
		</header>
		<p>{{ service_description }}</p>
	</div>
</section>

<!-- Begin Getting Started -->
<a name="getting-started"></a>
<section id="getting-started">
  <div class="content">
		<header>
			<h3>{{ getting_started_title }}</h3>
		</header>
    <div class="container">
      <div class="row">
        <div class="col-9">
          <p>{{ getting_started_header }}</p>
          <ol>
            {% for entries in getting_started_entries %}
              {% assign url = entries.fields | map: 'url' %}
              <li><a href="{{ url }}"><strong>{{ entries.name }}</strong></a> - {{ entries.description }}</li>
            {% endfor %}
          </ol>
          <p>{{ getting_started_footer }}</p>
        </div>
        <div class="col-lg-3">
          <center><img src="/assets/images/getting-started.png" width="175" align="center" style="margin-bottom: 25px;" /></center>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Getting Started -->

<!--SignUp SignIn--->
<a name="sign-up"></a>
<section id="sign-up-login">
  <div class="content">
		<header>
			<h3>{{ authentication_signuplogin_title }}</h3>
		</header>

    <p class="large">{{ authentication_signuplogin_header }}</p>

    <div class="container">
      <div class="row">
        <div class="col-4">
          <center>
            <a href="http://oauth.apievangelist.com/github/?action=login"><img src="/assets/images/github-icon.png" width="50" /></a>
            <h4>Github</h4>
            <p>Login with your Github social coding platform account.</p>
          </center>
        </div>
        <div class="col-4">
          <center>
            <a href="http://oauth.apievangelist.com/twitter/?action=login"><img src="/assets/images/twitter-icon.png" width="50" /></a>
            <h4>Twitter</h4>
            <p>Login / Sign Up with your Twitter social networking account.</p>
          </center>
        </div>
        <div class="col-4">
          <center>
            <a href="http://oauth.apievangelist.com/linkedin/?action=login"><img src="/assets/images/linkedin-icon.png" width="50" /></a>
            <h4>LinkedIn</h4>
            <p>Login / Sign Up with your LinkedIn business social networking account.</p>
          </center>
        </div>
    </div>

    <p>{{ authentication_signuplogin_footer }}</p>

</section>
<!-- Signup / Signin -->

<!--Auth-->
<a name="authentication"></a>
<section id="authentication">
  <div class="content">
		<header>
			<h3>{{ authentication_overview_title }}</h3>
		</header>

    <div class="container">
      <div class="row">
        <div class="col-9">
          <p>{{ authentication_overview_header }}</p>
          <ul id="auth-keys">
            <li id="auth-appkey" style="padding-left: 25px;"><strong>&rarr; x-api-key</strong> - Your API key.</li>
          </ul>
          <p>{{ authentication_overview_footer }}</p>
        </div>
        <div class="col-lg-3">
          <center><img src="/assets/images/authentication.png" width="175" align="center" style="margin-bottom: 25px;" /></center>
        </div>
      </div>
    </div>
</section>
<!--Auth-->

<!--Documentation-->
<a name="documentation"></a>
{% assign openapi = site.data.openapi %}

<section id="documentation">
  <div class="content">
		<header>
			<h3>{{ documentation_overview_title }}</h3>
		</header>
		<p>{{ documentation_overview_header }}</p>

    {% assign taglist = '' %}
    {% for path in openapi.paths %}

      {% assign this_path = path[0] %}
      {% assign method_json = path[1] %}

      {% for method in method_json %}
        {% assign tagarray = method[1].tags %}
        {% assign tag = tagarray[0] %}
        {% if taglist contains tag %}
        {% else %}
          {% assign taglist = taglist | append:',' %}
          {% assign taglist = taglist | append:tag %}
        {% endif %}
      {% endfor %}

    {% endfor %}

    {% assign tagArray = taglist | split: "," %}
    {% for grouptag in tagArray %}

      {% assign api_title = openapi.info.title %}
      {% assign api_description = openapi.info.description %}

      {% assign api_host = openapi.host %}
      {% assign api_base = openapi.basePath %}

      {% assign api_url = api_host | prepend:'https://' %}
      {% assign api_url = api_url | append:api_base %}

      {% for path in openapi.paths %}

        {% assign this_path = path[0] %}
        {% assign method_json = path[1] %}

        {% for method in method_json %}

          {% assign parameters = method[1].parameters %}
          {% assign tagarray = method[1].tags %}
          {% assign tag = tagarray[0] %}
          {% assign verb = method[0] | upcase %}
          {% assign summary = method[1].summary %}
          {% assign description = method[1].description %}

          {% if tag == grouptag %}

            {% assign slug = path[0] | replace: '/','' %}

            <div class="alert alert-dark" role="alert" style="border-color:#CCC; background-color:#000; color:#FFF;">{{ summary }} - {{ description }}</div>

            <div class="container">
              <div class="row">
                <div class="col-10">

                  <p><strong>URL:</strong> <a href="{{ api_url }}{{ path[0] }}" target="_blank">{{ api_url }}{{ path[0] }}</a></p>

                  <strong>Authentication:</strong>
                  <table cellpadding"3" width="100%">
                      <tr>
                        <td align="right" style="padding:5px; width: 15%;"><strong>x-api-key:</strong></td>
                        <td style="padding:5px;" width="35%"><input type="text" name='x-api-key' id='x-api-key' value="" class="form-control" width="450"></td>
                        <td style="padding:5px;"></td>
                      </tr>
                  </table>

                  <form id="{{ slug }}-path" style="width: 100%;">
                    {% assign any_path_parameters = 0 %}
                    {% for parameter in parameters %}{% if parameter.in == 'path' %}{% assign any_path_parameters = 1 %}{% endif %}{% endfor %}
                    {% if any_path_parameters == 1 %}
                      <strong>Path Parameters:</strong>
                    {% endif %}
                    <table cellpadding"3" width="100%">
                    {% for parameter in parameters %}
                      {% if parameter.in == 'path' %}
                        <tr>
                          <td align="right" style="padding:5px; width: 15%;"><strong>{{ parameter.name }}:</strong></td>
                          <td style="padding:5px;" width="35%"><input type="text" name='{{ parameter.name | downcase }}' value="{{ parameter.default }}" class="form-control" style="width: 100%;"></td>
                          <td style="padding:5px;"><i>{{ parameter.description }}</i></td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                    </table>
                  </form>

                  <form id="{{ slug }}-param" style="width: 100%;">
                    {% assign any_path_parameters = 0 %}
                    {% for parameter in parameters %}{% if parameter.in == 'query' %}{% assign any_path_parameters = 1 %}{% endif %}{% endfor %}
                    {% if any_path_parameters == 1 %}
                      <strong>Query Parameters:</strong>
                    {% endif %}
                    <table cellpadding"3" width="100%">
                    {% for parameter in parameters %}
                      {% if parameter.in == 'query' %}
                        <tr>
                          <td align="right" style="padding:5px; width: 15%;"><strong>{{ parameter.name }}:</strong></td>
                          <td style="padding:5px;" width="25%"><input type="text" name='{{ parameter.name | downcase }}' value="{{ parameter.default }}" class="form-control" style="width: 100%;"></td>
                          <td style="padding:5px;"><i>{{ parameter.description }}</i></td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                    </table>
                  </form>


                </div>
                <div class="col-1 align-middle" style="padding-top: 15px;">
                  <a href="getRequest('{{ slug }}','{{ path[0] }}','{{ api_url }}'); return false;"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-arrow-left-round.png" style="width: 50px; align:center; vertical-align: middle;" /></a>
                  <!--<button type="button" class="btn btn-success align-middle" data-toggle="modal" data-target="#exampleModal" onclick="getRequest('{{ slug }}','{{ path[0] }}','{{ api_url }}');">GO</button>-->
                </div>
              </div>
            </div>

          {% endif %}

        {% endfor %}

      {% endfor %}

    {% endfor %}

    <p>{{ documentation_overview_footer }}</p>

    </div>
</section>

<a name="schema"></a>
<section id="schema">
  <div class="content">
		<header>
			<h3>{{ documentation_schema_title }}</h3>
		</header>
		<p>{{ documentation_schema_header }}</p>

    <div class="row">
        <div class="tabs documentation tab-container">

          {% for definition in openapi.definitions %}
            {% assign definition_name = definition[0] %}
            {% assign fields = definition[1] %}
            <p><strong>{{ definition_name }}</strong></p>
            <ul style='padding-left: 50px;'>
              {% for property in fields.properties %}
                {% assign property_name = property[0] %}
                <li><strong>{{ property_name }}</strong> (<em>{{ property[1]["type"] }}</em>) - {{ property[1]["description"] }}</li>
              {% endfor %}
            </ul>
          {% endfor %}


          <script type="text/javascript">

            $appid = getUrlVar('app_id');
            //console.log($appid);
            Cookies.set('app_id', $appid);
            $appkey = getUrlVar('app_key');
            //console.log($appkey);
            Cookies.set('app_key', $appkey);
            if($appkey != '')
              {
              $('#auth-keys').html('');
              //$appid_link = '<li><strong>x-appid</strong> - ' + $appid + '</li>';
              //console.log($appid_link)
              $appkey_link = '<li><strong>x-appkey</strong> - ' + $appkey + '</li>';
              //console.log($appkey_link)
              $auth_html = '<ul>' + $appkey_link + '</ul>';
              //console.log($auth_html);
              $('#auth-keys').html($auth_html);
              $('#auth-header').html('Authentication (AUTHENTICATED)');

              //document.getElementById("x-api-key").style.display = '';
              }

            app_key = Cookies.get('app_key');

            if(app_key != '')
              {
              document.getElementById('x-api-key').value = app_key;

              var elements = document.body.getElementsByTagName('input');

              for (var i = 0; i < elements.length; i++)
                {
                //elements[i].innerHTML = "foo";
                if(elements[i].name=='x-api-key')
                  {
                  elements[i].value = app_key;
                  }
                //console.log("name: " + elements[i].name);
                }

              }

             function getRequest($slug,$path,$url)
              {

              $api_url = $url + $path;

              document.getElementById('loading').style.display = '';

              $appkey = document.getElementById('x-api-key').value;

              var path_elements = document.getElementById($slug+'-path').elements;
              for(var i = 0, element; element = path_elements[i++];)
                {
                  if(element.type === "text")
                    {
                    if(element.value!='')
                      {
                      $replace_string = '{' + element.name + '}';
                      $api_url = $api_url.replace($replace_string,element.value);
                      }
                    }
                  }

              var param_elements = document.getElementById($slug+'-param').elements;
              $anyparams = 0;
              $query_string = '';
              for(var i = 0, element; element = param_elements[i++];)
                {
                  if(element.type === "text")
                    {
                    if(element.value!='')
                      {
                      if($query_string=='')
                        {
                        $query_string = element.name + '=' + element.value;
                        }
                      else
                        {
                        $query_string = $query_string + '&' + element.name + '=' + element.value;
                        }
                      $anyparams = 1;
                      }
                    }
                  }

              if($anyparams == 1){ $api_url = $api_url + '?' + $query_string; }

              var $headers = {'x-api-key': $appkey};
              //console.log("header: " + $headers);

              var response = $.ajax({
                 url: $api_url,
                 method: "get",
                 headers: $headers,
                 success:function(response){

                    document.getElementById('loading').style.display = 'none';

                    $viewer = JSON.stringify(response, null, 2);

                    document.getElementById('response').value = $viewer;
                    document.getElementById('response').style.width = "100%";
                    document.getElementById('response').style.height = "450px";

                  },
                  error: function(XMLHttpRequest, textStatus, errorThrown) {

                      document.getElementById('loading').style.display = 'none';

                      $message = "Status: " + textStatus + "\nError: " + errorThrown;

                      document.getElementById('response').value = $message;
                      document.getElementById('response').style.width = "100%";
                      document.getElementById('response').style.height = "50px";
                  }
                });

              }
          </script>


          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" width="75%">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">Request</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="/assets/images/loading.gif" id="loading" />
                  <textarea id="response" style="overflow: auto; height: 5px; width: 100%; border: 0px solid #FFF;"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <br />
        </div>

        <p class="large">{{ documentation_schema_footer }}</p>

    </div>
</section>
<!--Documentation-->

<!-- Begin Definitions -->
<a name="definitions"></a>
<section id="definitions">
  <div class="content">
		<header>
			<h3>{{ documentation_definition_title }}</h3>
		</header>
    <p>{{ documentation_definition_header }}</p>
    <center>
    <table width="90%" align="center">
      <tr>
      {% if documentation_definition_openapi != '' %}
        <td align="center"><a href="{{ documentation_definition_openapi }}"><img src="/assets/images/openapi.png" width="75" align="center" /></a><p align="center"><a href="{{ site.openapi_url }}"><strong>OpenAPI</strong></a></p></td>
      {% endif %}
      {% if documentation_definition_postman != '' %}
        <td align="center"><a href="{{ documentation_definition_postman }}"><img src="/assets/images/postman.png" width="75" align="center" /></a><p align="center"><a href="{{ site.postman_collection_url }}"><strong>Postman</strong></a></p></td>
      {% endif %}
      </tr>
    </table>
    </center>
    <p>{{ documentation_definition_footer }}</p>
  </div>
</section>
<!-- End Definitions -->

<!-- Begin Support -->
<section id="sign-up-login">
  <div class="content">
		<header>
			<h3>{{ support_title }}</h3>
		</header>
    <p>{{ support_header }}</p>
    <center>
    <table width="90%" align="center">
      <tr>
      {% for channel in support_channels %}
        {% assign url = channel.fields | map: 'url' %}
        {% if channel.status == 'Active' %}
          <td align="center"><a href="{{ url }}"><img src="{{ channel.image }}" width="75" align="center" /></a><p align="center"><a href="{{ channel.url }}"><strong>{{ channel.title }}</strong></a></p></td>
        {% endif %}
      {% endfor %}
      </tr>
    </table>
    </center>
    <p>{{ support_footer }}</p>
  </div>
</section>
<!-- End Support -->


<!-- Begin FAQ -->
<section id="sign-up-login">
  <div class="content">
		<header>
			<h3>{{ faq_title }}</h3>
		</header>
    <p>{{ faq_header }}</p>
    <center>
    <table width="90%" align="center" border="1">
      {% for categories in faq_categories %}
        {% for category in categories %}
          <tr>
            <td>{{ category }}-2</td>
          </tr>
          {% for questions in faq_questions %}
            {% for question in questions %}

              {% assign this_question = question | map: 'question' %}
              {% assign this_answer = question | map: 'answer' %}
              {% assign this_category = question | map: 'category' %}

              {% if this_category == cat %}
                <tr>
                  <td>{{ question }}</td>
                </tr>
              {% endif %}

            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </table>
    </center>
    <p>{{ faq_footer }}</p>
  </div>
</section>
<!-- End FAQ -->

<!-- Begin Communications -->
<a name="communications"></a>
<section id="sign-up-login">
  <div class="content">
		<header>
			<h3>{{ communication_title }}</h3>
		</header>

    <div class="container">
      <div class="row">
        <div class="col-9">
          <p>{{ communication_header }}</p>
          <center>
          <table width="90%" align="center">
            <tr>
            {% for channel in communication_channels %}
              {% assign title = channel | map: 'title' %}
              title: {{ title }}<br />
              {% assign description = channel | map: 'description' %}
              {% assign image = channel | map: 'image' %}
              {% assign url = channel | map: 'url' %}
              {% assign communication_status = channel | map: 'status' %}
              status: {{ communication_status }}<br />
              {% if communication_status == 'Active' %}
                11<br />

              {% endif %}
            {% endfor %}
            </tr>
          </table>
          </center>
          <p>{{ communication_footer }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <center><img src="{{ communication_image }}" width="175" align="center" style="margin-bottom: 25px;" /></center>
    </div>

  </div>
</section>
<!-- End Communications -->

<!-- Begin Road Map -->
<a name="road-map"></a>
<section id="road-map">
  <div class="content">
		<header>
			<h3>{{ road_map_title }}</h3>
		</header>
    <div class="container">
      <div class="row">
        <div class="col-9">
          <p>{{ road_map_header }}</p>
          {% if road_map_status == 'Active' %}
            <p><strong>Entries:</strong></p>
            <ul>
              {% for entries in public_road_map_entries %}
                {% for entry in entries %}
                  <li><strong>{{ entry.title }}</strong> (<i>{{ entry.date }}</i>)- {{ entry.description }}</li>
                {% endfor %}
              {% endfor %}
            </ul>
          {% endif %}

          {% if road_map_suggestion_status == 'Active' %}
            <p><strong>{{ road_map_suggestion_title }}: </strong> <a href="{{ road_map_suggestion_url }}">{{ road_map_suggestion_description }}</a></p>
          {% endif %}

          <p>{{ road_map_footer }}</p>
        </div>
        <div class="col-lg-3">
          <center><img src="{{ road_map_image }}" width="175" align="center" style="margin-bottom: 25px;" /></center>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Road Map -->

<!-- Begin Issues -->
<a name="issues"></a>
<section id="issues">
  <div class="content">
		<header>
			<h3>{{ issues_title }}</h3>
		</header>
    <div class="container">
      <div class="row">
        <div class="col-9">
          <p>{{ issues_header }}</p>

          {% if issues_status == 'Active' %}
            <p><strong>Entries:</strong></p>
            <ul>
              {% for entries in issues_entries %}
                {% for entry in entries %}
                  <li><strong>{{ entry.title }}</strong> (<i>{{ entry.date }}</i>)- {{ entry.description }}</li>
                {% endfor %}
              {% endfor %}
            </ul>
          {% endif %}

          {% if issues_report_status == 'Active' %}
            <p><strong>{{ issues_report_title }}:</strong> <a href="{{ issues_report_url }}">{{ issues_report_description }}</a></p>
          {% endif %}

          <p>{{ issues_footer }}</p>
        </div>
        <div class="col-lg-3">
          <center><img src="{{ issues_image }}" width="175" align="center" style="margin-bottom: 25px;" /></center>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Issues -->


<!-- Begin Change Log -->
<a name="change-log"></a>
<section id="change-log">
  <div class="content">
		<header>
			<h3>{{ change_log_title }}</h3>
		</header>
    <div class="container">
      <div class="row">
        <div class="col-9">
          <p>{{ change_log_header }}</p>

          {% if change_log_status == 'Active' %}
            <p><strong>Entries:</strong></p>
            <ul>
              {% for entries in change_log_entries %}
                {% for entry in entries %}
                  <li><strong>{{ entry.title }}</strong> (<i>{{ entry.date }}</i>)- {{ entry.description }}</li>
                {% endfor %}
              {% endfor %}
            </ul>
          {% endif %}

          <p>{{ change_log_footer }}</p>
        </div>
        <div class="col-lg-3">
          <center><img src="{{ change_log_image }}" width="175" align="center" style="margin-bottom: 25px;" /></center>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Change Log -->
