<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/#Partners">Partners</a></li>
    <li><a href="/#Updates">Updates</a></li>
    <li><a href="/#Sign Up / Login">Sign Up / Login</a></li>
    <li><a href="/#Authentication">Authentication</a></li>
    <li><a href="/#Documentation">Documentation</a></li>
    <li><a href="/#Schema">Schema</a></li>
    <li><a href="/#Road Map">Road Map</a></li>
    <li><a href="/#Support">Support</a></li>

    <li><a href="http://apievangelist.com">Return to API Evangelist</a></li>
  </ul>
</nav>
