---
layout: presentation
title: Location API - Presentation
---

{% assign openapi = site.data.openapi %}

{% for stop in site.stops %}

  <section>

    <p align="center">{{ stop.image }}</p>
    <p align="center"><strong>{{ stop.name }}</strong></p>
    <p align="center">{{ item.description }}</p>

  </section>

  {% for item in stop.items %}

    <section>

      <p align="center">{{ item.image }}</p>
      <p align="center"><strong>{{ stop.name }} > {{ item.name }}</strong></p>
      <p align="center">{{ item.description }}</p>

    </section>

  {% endfor %}
{% endfor %}
