---
layout: presentation
title: Location API - Presentation
---

{% assign openapi = site.data.openapi %}

<section>
  <p align="center"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-lifecycle.png" style="width: 10%; padding: 5px;"></p>
  <p align="center"><strong>Consistent API Lifecycle</strong></p>
  <ul style="text-align: left;">
    {% for stop in site.stops %}
      <li style=" margin-left: 250px; font-size: 20px; font-weight: bold;">&#8594; {{ stop.name }}</li>
    {% endfor %}
  </ul>

</section>

{% for stop in site.stops %}

  <section>
    <br style="padding: 25px;" />
    <p align="center"><img src="{{ stop.image }}" style="width: 20%; padding: 5px;"></p>
    <p align="center"><strong>{{ stop.name }}</strong></p>
    <p align="center">{{ item.description }}</p>
  </section>

  {% for item in stop.items %}

    <section>

      <br style="padding: 25px;" />
      <p align="center"><img src="{{ item.image }}" style="width: 20%; padding: 5px;"></p>
      <p align="center"><strong>{{ stop.name }} &#8594; {{ item.name }}</strong></p>
      <p align="center" style="font-size: 18px;">{{ item.description }}</p>

      {% if item.tools != Empty %}
        <p><strong>Tools:</strong></p>
        <ul>
          {% for tool in item.tools %}
            <li><a href="{{ tool.name }}" target="_blank" style="font-size: 18px;"><strong>{{ tool.name }}</strong><a> - {{ tool.description }}</li>
          {% endfor %}
        </ul>
      {% endif %}

    </section>

  {% endfor %}
{% endfor %}
