---
layout: default
title: API Checklist
---
<h1>API Checklist</h1>

{% for stop in site.stops %}

  <h2>{{ stop.name }}</h2>
  <p>{{ stop.instruction }}</p>
  {% for item in stop.items %}

  <hr />
  <blockquote>

    <h3>{{ item.name }}</h3>
    <p>{{ item.instruction }}</p>

    <p><strong>Fields:</strong></p>
    <table style="padding-left: 15px;" border="1">
      {% for field in item.fields %}
        {% for this_field in field %}
          <tr>
            <td width="25%;" align="right">{{ this_field[1] }}</td>
            <td align="left">{{ this_field[0] }}</td>
        {% endfor %}
      {% endfor %}
    </table>

  </blockquote>

  {% endfor %}

  <hr />

{% endfor %}
