---
layout: default
title: API Checklist
---
<h1>API Checklist</h1>

{% for stop in site.stops %}

  <h2>{{ stop.name }}</h2>
  <p>{{ stop.instruction }}</p>
  {% for item in stop.items %}

  <hr />
  <blockquote>

    <h3>{{ item.name }}</h3>
    <p>{{ item.instruction }}</p>

    <p><strong>Fields:</strong></p>
    <ul>
      {% for field in item.fields %}
        {% for this_field in field %}
          <li>this_field: {{ this_field[1] }} = {{ this_field[2] }}</li>
        {% endfor %}
      {% endfor %}
    </ul>

  </blockquote>

  {% endfor %}

  <hr />

{% endfor %}
