---
layout: default
title: API Checklist
---
<h1>API Checklist</h1>

{% for stop in site.stops %}

  <h2>{{ stop.name }}</h2>
  <p>{{ stop.instruction }}</p>
  {% for item in stop.items %}

  <hr />
  <blockquote>

    <h3>{{ item.name }}</h3>
    <p>{{ item.instruction }}</p>

    <p><strong>Fields:</strong></p>
    <table style="padding-left: 15px;" border="1">
      {% for field in item.fields %}
        {% for this_field in field %}
          <tr>
            <td width="25%;" align="right"><strong>{{ this_field[0] }}</strong></td>
            <td align="left">
              <table style="padding-left: 15px;" border="1">
              {% if this_field[1].first %}
                {% for this_field_field in this_field[1] %}
                <tr>
                  <td width="25%;" align="right"><strong>{{ this_field_field[0] }}</strong></td>
                  <td align="left">
                    <input type="text" style="width: 50%" name="{{ this_field_fieldthis_field_field[0] }}" value="{{ this_field_field[1] }}">
                  </td>
                </tr>
                {% endfor %}
              {% else %}
               <input type="text" style="width: 50%" name="{{ this_field[0] }}" value="{{ this_field[1] }}">
              {% endif %}
              </table>
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>

  </blockquote>

  {% endfor %}

  <hr />

{% endfor %}
